<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <title>Travel Bandung - Bekasi</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">BOOKING TRAVEL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
  </nav>

  <br />
  <br />

<div class="container">
  <div style="margin: center; background-color: #d9d9d9;">
   <form action="index.php" method="POST" style="margin: center;">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="tnama">Nama Pemesan</label>
          <input type="text" class="form-control" name="tnama" required />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="ttanggal">Tanggal Berangkat</label>
          <input class="form-control" type="date" name="ttanggal" required />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="tnomor">No Telepon</label>
          <input class="form-control" name="tnomor" rows="3" required></input>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="tasal">Keberangkatan</label>
          <div class="col-sm-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="tasal" id="tasal1" value="Bandung" />
              <label class="form-check-label" for="tasal1">Bandung</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="tasal" id="tasal2" value="Bekasi" />
              <label class="form-check-label" for="tasal2">Bekasi</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="tpriority">Tujuan</label>
          <div class="col-sm-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ttujuan" id="ttujuan1" value="Bandung" />
              <label class="form-check-label" for="ttujuan1">Bandung</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ttujuan" id="ttujuan2" value="Bekasi" />
              <label class="form-check-label" for="ttujuan2">Bekasi</label>
            </div>
          </div>
        </div>
      </div>

      <button type="submit" name="add" class="btn btn-primary">Tambah Pesanan</button>
    </form>
    <br/>

    
    <!-- Tabel 1 - Travel -->
    <div style="display: inline-block; ">
      <h3 style="text-align: center;">Daftar Keberangkatan</h3>
      <!-- TABEL1 -->
      <table align="left" border="3" style="text-align: center;">
        <tr>
          <td>No</td>
          <td style="width: 20%;">Nama Pemesan</td>
          <td>No Telp</td>
          <td>Keberangkatan</td>
          <td style="width: 10%;">Tujuan</td>
          <td>Tanggal Keberangkatan</td>
          <td>Status Keberangkatan</td>
          <td>Aksi</td>
        </tr>
        <tr>
          <!-- DATA YG AKAN DIGANTI -->
          DATA_TABEL
        </tr>

      </table>
    </div>

    

  </div>
  
</div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
</body>

</html>